/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header-unit {
    width: 100%;
    height: 100vh;

    /* border: 1px solid black; */
    background-color: #f5f5f5;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hu-inner-title-container {
    width: auto;
    height: auto;

    border-top: 1px solid black;
    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1%;
    padding-bottom: 1%;
}

.hu-inner-title {
    color: #333333;

    font-size: 48px;
    text-transform: uppercase;

    font-family: "Roboto Condensed", sans-serif;

}

.hu-inner-motto-container {
    width: 100%;
    height: 10%;

    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding-top: 1%;
}

.hu-inner-motto {
    color: #333333;

    font-size: 24px;
    text-transform: uppercase;

    font-family: "Roboto Condensed", sans-serif;
}

.hu-inner-motto span {
    color: #333333;

    font-size: 24px;

    text-decoration: underline;

}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Roboto Condensed", sans-serif;
}

button:hover {
    background-color: #0056B3;
}

.data-section {
    width: 100%;
    height: auto;

    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid black;
}

.data-display {
    width: 90%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 1px solid red;
}

.dd-items {
    width: 30%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border: 1px solid black;

    margin: 5%;
}

.dd-items-content {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
    align-items: start;

    /* border: 1px solid red; */

    padding-left: 1%;
}

.dd-items-content span {
    font-size: 28px;
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
    /* padding-right: 1%; */
}

.dd-items-content p {
    font-size: 18px;
    color: #333333;
    font-family: 'Roboto Condensed', sans-serif;
    /* padding-bottom: 2%; */
}